.problem-highlight-container{
    padding-bottom: 20px;
    justify-content: center;
    margin: 25px 0px 25px 0px;
    width: 100%;
}

.difference-title{
    text-align: center;
    font-size: 35px;
    margin: 50px;
}

.problem-highlight{
    width: 50%;
    text-align: center;
}

h2{
    font-size: 25px;
}
