.differenceItem{
    display: block;
    border: 1px solid white;
    font-size: 13px;
    padding: 20px;
}
.difference-items-container{
    display: flex;
    justify-content: space-evenly; /* Equal space around items */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px;
}