.application-form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f0f0f0; /* Subtle gray background color */
  }
  
  .application-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
    color: #000;
  }
  
  .form-input,
  .form-textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .form-textarea {
    height: 100px;
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ee3834;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #ff0000;
  }

  .form-title{
    color: #000;
  }
  